.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.present{
  color: var(--bs-navbar-active-color);
  font-weight: bold;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

/* -------------------------------------------------------------------------- */

  /* table, th, td {
     border: 1px solid black; 
    border-collapse: collapse;
  } */

  /* .but-table{
    background-color: white; 
    border: 2px solid #04AA6D;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    transition-duration: 0.4s;
    cursor: pointer;
  } */
  /* .but-table:hover{
    background-color: #04AA6D; 
    color: white;
  } */

  .button-round {
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Color de fondo azul */
    color: #198754; /* Color del ícono */
    border: 2px solid #198754;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.button-round:hover {
    background-color: #198754; /* Color al pasar el cursor */
    color: white;
}

.button-round:focus {
    outline: none;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px; /* Espacio entre botones */
}
/* 
.content-tr{
  background-color: rgb(124, 124, 124); 
}

.text-vender{
  text-align: center; 
  background-color: rgb(124, 124, 124);
  font-weight: bold;
}

.border-td-l{
  border-bottom-left-radius: 1rem; 
}

.border-td-r{
  border-bottom-right-radius: 1rem;
}

.text-center{
  text-align: center;
} */

.button-vender{
  /* background-color: #04AA6D; Green */
  width: 100%;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 0 !important;
}

.button1 {
  /* background-color: white;  */
  color: black; 
  /* border: 2px solid #04AA6D; */
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

/* ------------CSS Tienda-------------------------- */
.custom-confirmation-box {
  position: fixed; /* Fijo a la ventana del navegador */
  top: 50%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #ccc; /* Borde gris */
  padding: 20px; /* Espacio interior */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  z-index: 1000; /* Asegurar que el cuadro esté por encima de otros elementos */
  font-family: Arial, sans-serif; /* Fuente */
  font-size: 14px; /* Tamaño de la fuente */
  max-width: 300px; /* Ancho máximo del cuadro */
  text-align: center; /* Centrar el contenido del texto */
}

.custom-confirmation-box p {
  margin: 0 0 20px; /* Espaciado debajo del texto */
}

.custom-confirmation-box button {
  margin: 5px; /* Espaciado alrededor de los botones */
  padding: 5px 15px; /* Espacio interior de los botones */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  border: none; /* Sin borde */
  background-color: #007BFF; /* Fondo azul */
  color: white; /* Texto blanco */
  border-radius: 3px; /* Bordes redondeados */
}

.custom-confirmation-box button:hover {
  background-color: #0056b3; /* Fondo azul más oscuro al pasar por encima */
}

/* -----------------------------Input Number--------------------------------- */
.quantity{
  display:flex;
  width:160px;
}

/* it will support chrome and firefox */
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance:none;
}

.quantity input,.quantity button{
  width:50px;
  padding:.5em;
  font-size:1.2rem;
  text-align:center;
  font-weight:900;
  background:white;
  border:1px solid #aaa;
}

.quantity input{
  border-left:none;
  border-right:none;
}