.wrapper {
overflow: auto;
position: relative;
z-index: 2;
}

.card {
border-radius: 1rem;
box-shadow: 0 30px 40px rgb(97 102 120 / 12%);
width: 96%;
}

.card header {
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 0 18px;
}

/* .card header button {
background: #9159fe;
color: #f9f9f9;
border: 0;
border-radius: 20px;
padding: 6px 16px 6px 12px;
font-size: 12.5px;
display: flex;
align-items: center;

gap: 4px;
} */

/* .card table {
border-collapse: collapse;
text-align: left;
width: 100%;
} */

.card table thead {
position: sticky;
top: 0;
left: 0;
z-index: 1;
}

.card table th {
padding: 0 10px;
user-select: none;
text-transform: capitalize;
/* background: #555555; */
}

.card table :is(th) {
position: relative;
overflow: hidden;
white-space: nowrap;
height: 32px;
vertical-align: middle;

}

.card table :is(td) {
position: relative;
overflow: hidden;
white-space: nowrap;
height: 32px;
border-bottom-width: var(--bs-border-width);
}

.line-left{
    border-left: 1px solid #dddddd79;
}

.card table .cell-content {
width: 100%;
position: absolute;
top: 50%;
/* left: 10px; */
translate: 0 -50%;
}

.card table th .draggable {
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 6px;
cursor: col-resize;
}