{% extends "base.html" %}

{% load static %} 
{% load humanize %}

{% block title %}
    InverTodi
{% endblock %}

{% block content %}

    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true"  focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
            <img src="{% static 'img/cama3.jpg' %}" class="d-block w-100" alt="Slider_2" style="height: 100%;">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Titulo - 1</h1>
                    <p class="opacity-75">Descripcion - 1</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Enlace</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
            <img src="{% static 'img/cama2.jpg' %}" class="d-block w-100" alt="Slider_2" style="height: 100%;">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Titulo - 2</h1>
                    <p>Descripcion - 2</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Enlace</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%"  aria-hidden="true"  focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
            <img src="{% static 'img/cama1.jpg' %}" class="d-block w-100" alt="Slider_2" style="height: 100%;">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Titulo - 3</h1>
                    <p>Descripcion - 3</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Enlace</a></p>
                </div>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="" style="width: 90% !important; margin: 0% 5% 0% 5%">
        <div class="row row-cols-2 row-cols-md-4 gx-4 gy-4 text-center">
            <div style="width: 100%;">
                <div style="width: 50%;">
                    <form method="get" action="{% url 'filtrar' %}" role="search" style="    display: flex;">
                        <input class="form-control" type="search" name="buscar" placeholder="Buscar" aria-label="Buscar" value="{{ request.GET.buscar }}">
                        <div class="content-btn-buscar">
                            <button class="btn button-round" type="submit">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>

<!------------------------------ Modal ----------------------------------->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="productModalLabel"></h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="carouselProductImages" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-modal" id="modalCarouselInner">
                    <!-- Las imágenes se cargarán dinámicamente -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductImages" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProductImages" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <h5 class="modal-title" id="productModalLabel"></h5>
                <p class="" id="modalDescription"></p>
                <p><strong>Precio:</strong> $<span id="modalPrice"></span></p>
                <p><strong>Cantidad disponible:</strong> <span id="modalQuantity"></span></p>
            </div>
        </div>
    </div>
  </div>
<!------------------------------ ---- ----------------------------------->

            {% for producto in products %}
            <div class="col-6 col-sm-4">
            <div class="col">
                <div class="">
                <img class="image-one" title="{{producto.nombre}}" 
                    src="{{producto.imagen.url}}" 
                    width="100%" height="225" 
                    data-bs-toggle="modal" 
                    data-bs-target="#productModal" 
                    data-name="{{producto.nombre}}" 
                    data-description="{{producto.contenido}}" 
                    data-price="{{producto.precio}}" 
                    data-quantity="{{producto.cantidad}}" 
                    data-images='[{% for img in producto.imagenes.all %}"{{img.imagen.url}}"{% if not forloop.last %},{% endif %}{% endfor %}]'>
                <div class="card-body" style="text-align: start; margin: 0 !important;">
                    <h6 style="margin:0.5rem 0 0 0">{{producto.nombre}}</h6>
                    {% if producto.cantidad > 0 %}
                    <div class="" style="text-align: end;">
                        <small style="font-weight: 500;">$ {{producto.precio|intcomma}}</small>
                    </div>
                    {% else %}
                    <div class="" style="text-align: end;">
                        <small>No disponible</small>
                    </div>
                    {% endif %}
                </div>
                </div>
            </div>
            </div>
            {% endfor %} 
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const modal = document.getElementById('productModal');
          const modalTitle = document.getElementById('productModalLabel');
          const modalDescription = document.getElementById('modalDescription');
          const modalPrice = document.getElementById('modalPrice');
          const modalQuantity = document.getElementById('modalQuantity');
          const modalCarouselInner = document.getElementById('modalCarouselInner');
      
          document.querySelectorAll('.image-one').forEach(image => {
            image.addEventListener('click', () => {
              const images = JSON.parse(image.getAttribute('data-images'));
      
              // Configurar el contenido del modal
              modalTitle.textContent = image.getAttribute('data-name');
              modalDescription.textContent = image.getAttribute('data-description');
              modalPrice.textContent = parseInt(image.getAttribute('data-price')).toLocaleString();
              modalQuantity.textContent = image.getAttribute('data-quantity');
      
              // Limpiar y añadir imágenes al carrusel
              modalCarouselInner.innerHTML = '';
              images.forEach((imgSrc, index) => {
                const activeClass = index === 0 ? 'active' : '';
                modalCarouselInner.innerHTML += `
                  <div class="carousel-item ${activeClass}">
                    <img src="${imgSrc}" class="d-block w-100" alt="Product Image">
                  </div>`;
              });
            });
          });
        });
      </script>

{% endblock %}