{% extends "base.html" %}

{% block title %}
    InverTodi
{% endblock %}

{% block content %}

    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true"  focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <div class="container">
            <div class="carousel-caption text-start">
                <h1>Titulo - 1</h1>
                <p class="opacity-75">Descripcion - 1</p>
                <p><a class="btn btn-lg btn-primary" href="#">Enlace</a></p>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <div class="container">
            <div class="carousel-caption">
                <h1>Titulo - 2</h1>
                <p>Descripcion - 2</p>
                <p><a class="btn btn-lg btn-primary" href="#">Enlace</a></p>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%"  aria-hidden="true"  focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <div class="container">
            <div class="carousel-caption text-end">
                <h1>Titulo - 3</h1>
                <p>Descripcion - 3</p>
                <p><a class="btn btn-lg btn-primary" href="#">Enlace</a></p>
            </div>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="" style="width: 90% !important; margin: 0% 5% 0% 5%">
        <div class="row row-cols-2 row-cols-md-4 gx-4 gy-4 text-center">
            <div style="width: 100%;">
                <div style="width: 50%;">
                    <form method="get" action="{% url 'filtrar' %}" role="search" style="    display: flex;">
                        <input class="form-control" type="search" name="buscar" placeholder="Buscar" aria-label="Buscar" value="{{ request.GET.buscar }}">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
            {% for producto in products %}
                <div class="col-6 col-sm-4 ">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="" title="{{producto.nombre}}" src="{{producto.imagen.url}}" width="100%" height="225">
                            <div class="card-body" style="text-align: start; margin: 0 !important;">
                                <p style="margin: 0;">{{producto.nombre}}</p>
                                <p style="margin: 0;" >{{producto.contenido}}</p>
                                {% if producto.cantidad > 0 %}
                                    <div class="" style="text-align: end;">
                                        <small>$ {{producto.precio}}</small>
                                    </div>
                                {% else %}
                                    <div class="" style="text-align: end;">
                                        <small>No disponible</small>
                                    </div>
                                {% endif %}    
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}     
        </div>
    </div>


{% endblock %}