{% extends "base.html" %}

{% block title %}
    Servicios
{% endblock %}



{% load static %}



{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<div class="contenedor">
    <!-- <hr class="featurette-divider"> -->
    {% for servicio in servicios %}  
        <div class="card-service">
            <img class="card-service-img bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice"  src="{{servicio.imagen.url}}">        
            <div>
                <div>
                    <h2>{{servicio.titulo}}</h2>
                    <h3>{{servicio.contenido}}</h3>
                </div>
            </div>
        </div>    
    {% endfor %}  

{% endblock %}