{% extends "base.html" %}

{% block title %}
    Ver
{% endblock %}

{% load humanize %}

{% block content %}

<div class="div-data-name">
    <p class="display-7">Registros de pagos para:</p>
    <p class="display-7 nombre-credito">{{ credito.nombre }}</p>
</div>

<div class="position-table">
    <div class="wrapper card">
      <table class="table table-striped" style="margin: 0;">
        <thead class="style-thead">
            <tr>
                <th>Id
                <span class="draggable" onmousedown="initResize(0)"></span>
                </th>
                <th class="line-left">Cantidad
                <span class="draggable" onmousedown="initResize(1)"></span>
                </th>
                <th class="line-left">Método de Pago
                <span class="draggable" onmousedown="initResize(2)"></span>
                </th>
                <th class="line-left">Fecha</th>
            </tr>
        </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ registro.cantidad|intcomma }}</td>
                    <td class="text-center">{{ registro.metodo_pago }}</td>
                    <td class="text-center">{{ registro.fecha }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No hay registros de abonos.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div style="display: flex; justify-content: center; margin: 2rem 0 0 0;">
    <a href="{% url 'Creditos' %}" class="btn btn-secondary content-btn-buscar">Volver</a>
</div>
{% endblock %}