{% extends "base.html" %}

{% block title %}
    Inventario
{% endblock %}

{% block content %}
<div style="width: 50%; margin: 2rem 0rem 1rem 2%;">
    <form method="get" action="" role="search" style="display: flex;">
        <input class="form-control" type="search" name="buscar" placeholder="Burcar" aria-label="Buscar" >
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
<div style=" display: flex; justify-content: center;">
    <div class="wrapper card ">
        <table class="table table-striped;" style="margin: 0;">
            <thead style="text-align: center; background-color: rgb(124, 124, 124) !important;">
                <tr>
                    <th>Id
                        <span class="draggable" onmousedown="initResize(0)"></span>
                    </th>
                    <th class="line-left">Imagen
                        <span class="draggable" onmousedown="initResize(1)"></span>
                    </th>
                    <th class="line-left">Nombre
                        <span class="draggable" onmousedown="initResize(2)"></span>
                    </th>
                    <th class="line-left">Description
                        <span class="draggable" onmousedown="initResize(3)"></span>
                    </th>
                    <th class="line-left">Stock
                        <span class="draggable" onmousedown="initResize(4)"></span>
                    </th>
                    <th class="line-left">Cantidad
                        <span class="draggable" onmousedown="initResize(5)"></span>
                    </th>
                    <th class="line-left">Precio Unid
                        <span class="draggable"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for producto in products %}
                    <tr>
                        <td>
                            <span class="cell-content text-center" >{{ producto.id }}</span>
                        </td>
                        <td>
                            <span class="cell-content" >{{ producto.imagen }}</span>
                        </td>
                        <td>
                            <span class="cell-content">{{ producto.nombre }}</span>
                        </td>
                        <td>
                            <span class="cell-content">{{ producto.contenido }}</span>
                        </td>
                        <td>
                            <span class="cell-content text-center">{{ producto.cantidad }}</span>
                        </td>
                        <td>
                            <div class="button-container">
                                <button class="button-round add-button">+</button>
                                <p>0</p>
                                <button class="button-round subtract-button">−</button>
                            </div>
                        </td>
                        <td>
                            <span class="cell-content text-center">
                                {{ producto.precio }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}