{% extends "base.html" %}

{% block title %}
    Tienda
{% endblock %}

{% block content %}
<div style="margin-top: 2rem;">
  <div style="width: 100%; display: flex; justify-content: center;">
    <div style="width: 96%;">
      <div style="width: 50%; margin-bottom: 1rem;">
        <form id="buscar-form" role="search" style="display: flex;">
          <input class="form-control" type="search" id="buscar" placeholder="Registrar" aria-label="Registrar">
          <button class="btn btn-outline-success" type="button" onclick="buscarProducto()">Registrar</button>
        </form>
      </div>
      <table class="table table-striped;">
        <thead style="text-align: center; background-color: rgb(124, 124, 124) !important;">
          <tr>
            <th style="border-top-left-radius: 1rem; width:10%">Id</th>
            <th style="width:15%">Imagenn</th>
            <th style="width:16%">Nombre</th>
            <th style="width:19%">Descripción</th>
            <th style="width:10%">Stock</th>
            <th style="width:10%">Cantidad</th>
            <th style="width:10%">Precio Unid</th>
            <th style="width:10%; border-top-right-radius: 1rem">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in products %}
              <tr>
                  <td class="text-center">{{ producto.id }}</td>
                  <td class="text-center" ><img class="class="text-center src="{{ producto.imagen }}" width="50"></td>
                  <td>{{ producto.nombre }}</td>
                  <td>{{ producto.contenido }}</td>
                  <td class="text-center">{{ producto.cantidad }}</td>
                  <td class="text-center cantidad-display">0</td>
                  <td class="text-center precio-unid">{{ producto.precio }}</td>
                  <td class="text-center total-display" id="total-parcial">0</td>
              </tr>
          {% endfor %}
      </tbody>
      <tfoot>
        <td colspan="4"></td>
        <td colspan="2">TOTAL A PAGAR :</td>
        <td colspan="2" id="total-pagar">$ 0</td>
      </tfoot>
      </table>
      <div class="button-container" style="width: 100%;">
          <button id="vender">Vender</button>
      </div>
    </div>
  </div> 
</div>
{% endblock %}