{% extends "base.html" %}

{% block title %}
    Ver
{% endblock %}

{% load humanize %}

{% block content %}

<div class="div-data-name">
    <p class="display-7">Registro de ventas</p>
</div>

<div class="position-table">
    <div class="wrapper card">
    <canvas id="ventasGrafico" width="400" height="200"></canvas>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ventasPorDia = JSON.parse('{{ ventas_por_dia|escapejs }}');
        console.log(ventasPorDia); // Ahora puedes usarlo en tu código JavaScript

        const labels = ventasPorDia.map(v => v.day);
        const data = ventasPorDia.map(v => v.total);

        const ctx = document.getElementById('ventasGrafico').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Ventas por día',
                    data: data,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
        
{% endblock %}
