{% extends "base.html" %}

{% block title %}
    Generar PDF
{% endblock %}

{% load humanize %}

{% block content %}
<div class="conten-form-p">
    <div class="content-form-s-pago">
    <h1>Filtrar ventas por mes</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="id_username" class="form-label">Seleccionar Mes:</label>
            {{ form.mes }}
        </div>
        <div class="form-group mb-3">
            <label for="id_username" class="form-label">Seleccionar Mes:</label>
            {{ form.anio }}
        </div>
        <button class="btn btn-secondary content-btn-buscar" type="submit">Generar PDF</button>
        <a class="btn btn-secondary content-btn-buscar" href="{% url 'registro_ventas' %}" >Volver</a>

    </form>

    {% if form.is_valid %}
        <h2>Ventas del mes de {{ form.cleaned_data.mes }}</h2>
        <a href="{% url 'generar_pdf_ventas' mes=mes anio=anio %}">Generar PDF de ventas para {{ form.cleaned_data.mes }}</a>
    {% endif %}
</div>
</div>
{% endblock %}