{% extends "base.html" %}

{% block title %}
    Creacion Abono
{% endblock %}

{% block content %}

<div class="position-table">
    <div class="wrapper card">
        <h1>Crear Nuevo Abonono</h1>
        <form method="POST">
            {% csrf_token %}
            <div style="width: 100%; display: flex;" >
                <div style="width: 50%;">
                    <label for=""> Documento</label>
                    {{ form.documento }}
                </div>
                <div style="width: 50%;">
                    <label for=""> Nombre</label>
                    {{ form.nombre }}
                </div>
            </div>
            <div style="width: 100%; display: flex;" >
                <div style="width: 50%;">
                    <label for=""> Cantidad abonar</label>
                    {{ form.num_pagos }}
                </div>
                <div style="width: 50%;">
                    <label for=""> Producto</label>
                    {{ form.producto }}
                </div>
            </div>
            <div  style="width: 100%; display: flex;" >
                <div style="width: 50%;">
                    <label for=""> Total abonado</label>
                    {{ form.num_pagos_total }}
                </div>
                <div style="width: 50%;">
                    <label for=""> Método de pago</label>
                    {{ form.metodo_pago }}
                </div>
            </div>
    
            <button class="btn button-round" type="submit">Guardar</button>
            <a class="btn button-round" href="{% url 'Abonos' %}">Cancelar</a>
        </form>
    </div>
</div>


{% endblock %}
